.expense-container
{
    color: black;
    height: 100vh;
    width: 100vw;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}
.expense-form{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 400px;
    justify-content: center;
    background-color: rgb(218, 218, 197);
    margin-top: 80px;
    margin-left: 35vw;
     background: transparent;
    border-radius: 20px;
    border: none;
}
.expense-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}